createdAt: "2021-09-12T14:49:42.700Z"
updatedAt: "2021-09-12T14:56:49.095Z"
type: "MARKDOWN_NOTE"
folder: "63a28a6ea2b74edad499"
title: "Youtube | etc"
tags: []
content: '''
  # Youtube | etc
  ***
  ### 顔出しなしジャンル7選
  - 書籍要約
  - 自主制作アニメ
  - VLOG
  - ゲーム実況
  - 考察系
  - ハウツー系
  - レビュー系
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
