createdAt: "2021-09-12T13:50:44.723Z"
updatedAt: "2021-09-12T14:44:06.349Z"
type: "MARKDOWN_NOTE"
folder: "2644624ccec2462d238c"
title: "勉強方法 | 応用情報処理"
tags: []
content: '''
  # 勉強方法 | 応用情報処理
  ***
  ### 午後対策
  - 
  - 絶対に受けるべきもの
    - 1 情報セキュリティ
    - 7 組込みシステム
    - 9 プロジェクトマネージャ
  - おすすめ
    - 2 経営戦略、情報戦略、戦略立案
    - 4 システム・アーキテクチャ
    - 10 サービスマネジメント
  - 
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
